[submodule "contrib/libdwarf"]
	path = contrib/libdwarf
	url = https://github.com/ojno/libdwarf
[submodule "contrib/libcxxfileno"]
	path = contrib/libcxxfileno
	url = https://github.com/ojno/libcxxfileno
[submodule "contrib/libsrk31cxx"]
	path = contrib/libsrk31cxx
	url = https://github.com/ojno/libsrk31cxx
[submodule "contrib/libdwarfpp"]
	path = contrib/libdwarfpp
	url = https://github.com/ojno/libdwarfpp
[submodule "contrib/libcxxgen"]
	path = contrib/libcxxgen
	url = https://github.com/ojno/libcxxgen
[submodule "contrib/dwarfidl"]
	path = contrib/dwarfidl
	url = https://github.com/ojno/dwarfidl
[submodule "contrib/liballocs"]
	path = contrib/liballocs
	url = https://github.com/ojno/liballocs
[submodule "contrib/libfootprints"]
	path = contrib/libfootprints
	url = https://github.com/ojno/libfootprints
[submodule "contrib/trap-syscalls"]
	path = contrib/trap-syscalls
	url = https://github.com/ojno/trap-syscalls
[submodule "contrib/libantlr3cxx"]
	path = contrib/libantlr3cxx
	url = https://github.com/ojno/libantlr3cxx
[submodule "contrib/libfootprints-ocaml"]
	path = contrib/libfootprints-ocaml
	url = https://github.com/ojno/libfootprints-ocaml
